.nst-menu {
    list-style: none;
    border-left: 1px solid rgb(128, 128, 128);
}

.nst-sub-wrap {
    position: absolute;
    width: 100%;
    bottom: max(50vh - 28.125vw + 8px, 8px);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nst-sub1 {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0px 0px 4px black;
}

.nst-sub2 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0px 0px 3px black;
}

.nst-sub1::before,
.nst-sub2::before {
    content: "\200b";
}

.nst-custom-style-panel-wrap,
.nst-download-panel-wrap {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #00000088;
}

.nst-custom-style-panel,
.nst-download-panel {
    width: 85%;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 6px;

    color: #ffffff;
    background: #343542;
}

.nst-custom-style-panel-code {
    width: 90%;
    height: 75%;
    padding: 4px 8px;

    border: 1px solid #d2d2d2;
    border-radius: 8px;

    font-size: 2.4rem;

    background: #343542;

    transition: all 0.25s;
}
.nst-custom-style-panel-code:focus {
    outline: none !important;

    border: 1px solid #ffffff;
}

.nst-custom-style-panel-btn,
.nst-download-panel-btn {
    width: calc(90% + 16px);
    height: 40px;

    border: 1px solid #d2d2d2;
    border-radius: 8px;

    font-size: 2rem;
    text-align: center;
    text-decoration: none;

    background: #343542;

    transition: all 0.25s;
}
.nst-custom-style-panel-btn:hover,
.nst-custom-style-panel-btn:focus,
.nst-download-panel-btn:hover,
.nst-download-panel-btn:focus {
    border: 1px solid #ffffff;

    background: #545562;
}

.nst-download-panel-lang-select-wrap,
.nst-download-panel-format-select-wrap {
    font-size: 2.6rem;
    width: 90%;
    display: grid;
    grid-template-columns: 120px auto;
}

.nst-download-panel-lang-select-label,
.nst-download-panel-format-select-label {
    padding: 4px 0px;
}


.nst-download-panel-lang-select,
.nst-download-panel-format-select {
    background: #343542;
    padding: 4px 8px;
}
